{% extends 'Blog/base.html' %}

{% block main_content%}
<div style="padding:2em; font-family:'Times New Roman'">
    <p>Soy abogada administrativista, trabajo en un juzgado de la Ciudad de Buenos Aires. <br/> Siempre me dio curiosidad la programación y cuando escuche acerca de los smart contracts<br/> pensé que sería buena idea aprender a programar para conocer los dos lados de un instituto <br/>que promete generar grandes cambios en casi todos los ambitos.
    <p>Python surgió como la opción más "user friendly" para empezar a entender lenguajes de programación.</p>
    <p>Tanto el curso como este proyecto fueron todo un desafio, ambos con sus obstáculos específicos. Pero como dicen...persevera y triunfarás. </p>
    
</div> 

{% endblock%}