{% extends 'Blog/base.html' %}
{% block main_content %}
<div style="display: flex; flex-direction: row; align-items: flex-start; gap: 40px; flex-wrap: wrap; padding: 30px;">
    {% for post in posts %}
        <div class="postContainer">
            <a style="text-decoration: none; color: inherit; overflow: visible; position: relative;" href="{% url 'Page detail' post.id %}">
             {% if post.user.username == user.username %}
                <div style="background-color: rgb(71, 71, 237); border-radius: 20px; height: 50px; text-align: center; position: absolute; top: -35px; right: -40px; padding: 10px;">
                    <span style="font-size: 14px; font-style: italic;">My post</span>
                </div>
            {% endif %}
            <h5 style="text-align: center; color: whitesmoke">{{post.title}}</h5>
            <h4 style="text-align: center; color: whitesmoke">{{post.subtitle}}</h4>
            <img src="/media/{{post.img}}" width="90%"/>
            <p style="font-style: italic; color: whitesmoke">Author: {{post.author}}</p>
            <p style="font-style: italic; color: whitesmoke">{{post.date}}</p>
            </a>
        </div>
    {% endfor %}
   
    {% if no_posts %}
        <h5>There are no posts to show.</h5>
    {% endif %}

</div>
{% endblock main_content %}