{% extends 'Blog/base.html' %}

{% block main_content %}
<body > 

    <h4><b><i> FreeCoderCamp  <a href= "https://youtu.be/watch?v=rfscVS0vtbw" >Mike Dane Data Science</a> </b></i></h4>
    
    </br>
    </br>
    <h4><b><i> Mosh Hamedani <a href= "https://youtu.be/f79MRyMsjrQ?list=PLTjRvDozrdlxj5wgH4qkvwSOdHLOCx10f" >Python</a></b></i></h4>
    </br>
    </br>
    <h4><b><i>Mike Dane</i></b><a href="https://youtu.be/rfscVS0vtbw">Python Crash Course</a><b></i></a> </h4>
{% endblock main_content%}
</body>