{% extends 'Blog/base.html' %}

{% block main_content %}
<body style= "background-image: url ("https://image.shutterstock.com/image-photo/light-bulbs-on-dark-wooden-600w-354086042.jpg")"> 

<p><b><i> Mike Dane Learn Python </b></i></p>
<a href="url">https://youtu.be/rfscVS0vtbw/</a>
</br>
</br>
<p><b><i> FreeCoderCamp Data Science </b></i></p>
<a href="url">https://youtu.be/CnCxfH0A5R8</a>
</br>
</br>
<p><b><i> Mosh Hamedani </b></i></p>
<a href="url">https://youtu.be/f79MRyMsjrQ?list=PLTjRvDozrdlxj5wgH4qkvwSOdHLOCx10f</a>
{% endblock main_content%}
</body>